
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>Sean Wang</title>
		<link rel="stylesheet" href="https://unpkg.com/papercss@1.9.2/dist/paper.min.css" />
	</head>
	<body>
		<main class="container">
			<div class="row flex-center margin-top-large">
				<a class="paper-btn margin-right" href="/">Home</a>
				<a class="paper-btn margin-left" href="/games">Games</a>
			</div>

			<section class="margin-top-large">
				<slot />
			</section>
		</main>
	</body>
</html>
